<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css\bootstrap.min.css" rel="stylesheet">
    <link href="css\font-awesome.min.css" rel="stylesheet">
    <link href="css\prettyPhoto.css" rel="stylesheet">
    <link href="css\price-range.css" rel="stylesheet">
    <link href="css\animate.css" rel="stylesheet">
  <link href="css\main.css" rel="stylesheet">
  <link href="css\responsive.css" rel="stylesheet">
<style type="text/css">
.nav{
  height:50px;
}
.navbar-custom {
    background-color:#0000FF;
    color:#ffffff;
    border-radius:0;
}
</style>
</head>
<body>
<nav class="navbar navbar-custom navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ClicForServe</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class=""><a href="/">Home</a></li>
      <li class="active"><a href="#">Services</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="/signUp">Sign Up</a></li>
      

    </ul>
  </div>
</nav><br><br><br>


<script src="js\jquery.js"></script>
  <script src="js\bootstrap.min.js"></script>
  <script src="js\jquery.scrollUp.min.js"></script>
  <script src="js\price-range.js"></script>
    <script src="js\jquery.prettyPhoto.js"></script>
    <script src="js\main.js"></script>
</body>
</html>