<% include partials/header %>
<h1>Into to Node and MongoDB</h1>
    <form method="post" action="/adduser">
      <label>Enter Your Name</label><br>
      <input  type="email" name="username" placeholder="Email" required>
      <input  type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Sign Up">
    </form>
    <p align="left">Are you new to Click4Serve? <a href="/login">Login Here</a></p>




<% include partials/footer %>