<!DOCTYPE html>
<html lang=”en”></html>

<% include partials/header %>
<style>
.btn.btn-primary {
    background: #008080;
    border: 0 none;
    border-radius: 0;
    margin-top: 460px;
}
</style>
<body>
    
    <div class="left-side"> 
        <form action="/signUp" >
            <button type="submit" class="btn btn-primary btn-outline butSize butPlace myFont">Get Started</button>    
        </form>
     </div>  
</body>
</html>
