<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="images\home\white bus.jpg" alt="">
                  <br><br>
                  <a href="#" class="btn btn-default add-to-cart">View More</a>
                </div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>Transport</h2>
                    
                    <a href="/transportsearch" class="btn btn-default add-to-cart">View More</a>
                  </div>
                </div>
              </div>
              <!-- <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="col-md-6">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src="images\home\tenthouse.jpg" alt="">
                    <br><br>
                    <a href="#" class="btn btn-default add-to-cart">View More</a>
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>Tent House</h2>
                      <a href="/tenthousesearch" class="btn btn-default add-to-cart">View More</a>
                    </div>
                  </div>
                </div>
                <!-- <div class="choose">
                  <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                  </ul>
                </div> -->
              </div>
            </div>    
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img  height="400px" src="images\home\weddingcard.jpg" alt="">
                  <br><br>
                  <a href="#" class="btn btn-default add-to-cart">View More</a>
                </div>
                <div class="product-overlay">
                  <div class="overlay-content">
                      <h2>Invitation Cards</h2>
                    <a href="/invitationsearch" class="btn btn-default add-to-cart">View More</a>
                  </div>
                </div>
              </div>
              <!-- <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="col-md-6">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src="images\home\bannerdesign.jpg" alt="">
                    <br><br>
                    <a href="#" class="btn btn-default add-to-cart">View More</a>
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>Banner Design</h2>
                      <a href="/bannersearch" class="btn btn-default add-to-cart">View More</a>
                    </div>
                  </div>
                </div>
                <!-- <div class="choose">
                  <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                  </ul>
                </div> -->
              </div>
            </div>    
    </div>



</div>    
    
        <!-- <div class="col-md-6">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images\home\white bus.jpg" alt="">
                         <br>
                         <br>
                          <a href="#" class="btn btn-default add-to-cart"></i>View More</a>
                        </div>
                        <div class="product-overlay">
                          <div class="overlay-content">
                            <!-- <h2>$56</h2>
                            <p>Easy Polo Black Edition</p> -->
                            <!-- <a href="#" class="btn btn-default add-to-cart">View More</a>
                          </div>
                        </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                       
                      </ul>
                    </div>
                  </div>
                </div>
              
              <div class="col-md-6">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images\home\tenthouse.jpg" alt="">
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <a href="#" class="btn btn-default add-to-cart">Add to cart</a>
                        </div>
                        <div class="product-overlay">
                          <div class="overlay-content">
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"></i>Add to cart</a>
                          </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
                </div>
    
                <div class="col-md-6">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images\home\product1.jpg" alt="">
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <a href="#" class="btn btn-default add-to-cart">Add to cart</a>
                        </div>
                        <div class="product-overlay">
                          <div class="overlay-content">
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart">Add to cart</a>
                          </div>
                        </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                        <!-- <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li> -->
                      <!-- </ul>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-6">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images\home\product1.jpg" alt=""> -->
                          <!-- <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <a href="#" class="btn btn-default add-to-cart">Add to cart</a>
                        </div>
                        <div class="product-overlay">
                          <div class="overlay-content">
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart">Add to cart</a>
                          </div>
                        </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                      </ul>
                    </div>
                  </div> -->
                
<% include partials/footer %>